<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>tutorialspoint file system practice</name>
    <description>
       tutorialspoint file system practice
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
      <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
</widget>
